-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: connectit_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_entries`
--

DROP TABLE IF EXISTS `activity_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_entries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(100) DEFAULT NULL,
  `user_id` varchar(128) NOT NULL,
  `screenshot_url` text DEFAULT NULL,
  `screenshot_filename` varchar(255) DEFAULT NULL,
  `screenshot_format` varchar(20) DEFAULT NULL,
  `screenshot_size_kb` int(11) DEFAULT NULL,
  `activity_label` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `confidence` decimal(5,4) DEFAULT NULL,
  `captured_at` datetime DEFAULT NULL,
  `keystrokes` int(11) DEFAULT 0,
  `clicks` int(11) DEFAULT 0,
  `ticket_number` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `approval_status` varchar(20) DEFAULT 'Pending',
  `approved_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_session_id` (`session_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_captured_at` (`captured_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_entries`
--

LOCK TABLES `activity_entries` WRITE;
/*!40000 ALTER TABLE `activity_entries` DISABLE KEYS */;
INSERT INTO `activity_entries` VALUES (1,'act_1780728353070','demo_t342dq','/uploads/screenshots/screen_1780728353207.jpg',NULL,NULL,NULL,'General Work','Working in Web Browser on the Application page.',0.6000,'2026-06-06 12:15:55',0,0,NULL,'2026-06-06 01:15:55','Pending',NULL),(2,'act_1780730096163','demo_t342dq','/uploads/screenshots/screen_1780730096942.jpg',NULL,NULL,NULL,'General Work','Working in Web Browser on the Activity Tracker page.',0.6000,'2026-06-06 12:44:59',0,0,'INC3775301','2026-06-06 01:45:26','Pending',NULL);
/*!40000 ALTER TABLE `activity_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_sessions`
--

DROP TABLE IF EXISTS `activity_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(100) NOT NULL,
  `user_id` varchar(128) NOT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `start_time` datetime DEFAULT NULL,
  `stop_time` datetime DEFAULT NULL,
  `duration` int(11) DEFAULT 0,
  `status` varchar(20) DEFAULT 'active',
  `ticket_number` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_session_id` (`session_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_sessions`
--

LOCK TABLES `activity_sessions` WRITE;
/*!40000 ALTER TABLE `activity_sessions` DISABLE KEYS */;
INSERT INTO `activity_sessions` VALUES (1,'act_1780728353070','demo_t342dq','Arun (Ultra Admin)','2026-06-06 12:15:53',NULL,0,'active',NULL,'2026-06-06 01:15:53'),(2,'act_1780730096163','demo_t342dq','Arun (Ultra Admin)','2026-06-06 12:44:56','2026-06-06 12:45:14',17,'completed','INC3775301','2026-06-06 01:44:56');
/*!40000 ALTER TABLE `activity_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approvals`
--

DROP TABLE IF EXISTS `approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) NOT NULL,
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `requested_by` varchar(128) NOT NULL,
  `requested_by_name` varchar(255) DEFAULT NULL,
  `approved_by` varchar(128) DEFAULT NULL,
  `approved_by_name` varchar(255) DEFAULT NULL,
  `comments` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `approved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_status` (`status`),
  KEY `idx_requested_by` (`requested_by`),
  CONSTRAINT `approvals_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approvals`
--

LOCK TABLES `approvals` WRITE;
/*!40000 ALTER TABLE `approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets`
--

DROP TABLE IF EXISTS `assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type` enum('Server','Database','Network','Application','Hardware','Service') DEFAULT 'Hardware',
  `status` enum('Operational','Degraded','Maintenance','Retired') DEFAULT 'Operational',
  `owner` varchar(128) DEFAULT NULL,
  `owner_name` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `serial_number` varchar(255) DEFAULT NULL,
  `model` varchar(255) DEFAULT NULL,
  `manufacturer` varchar(255) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `warranty_expiry` date DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_name` (`name`),
  KEY `idx_type` (`type`),
  KEY `idx_status` (`status`),
  KEY `idx_owner` (`owner`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets`
--

LOCK TABLES `assets` WRITE;
/*!40000 ALTER TABLE `assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` varchar(50) NOT NULL,
  `action` varchar(50) NOT NULL,
  `user_id` varchar(128) DEFAULT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `changes`
--

DROP TABLE IF EXISTS `changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `changes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `change_number` varchar(50) NOT NULL,
  `title` varchar(500) NOT NULL,
  `description` text DEFAULT NULL,
  `type` enum('Normal','Standard','Emergency') DEFAULT 'Normal',
  `state` enum('Draft','Submitted','Planned','Approved','In Progress','Completed','Closed','Canceled') DEFAULT 'Draft',
  `risk` enum('Low','Medium','High','Critical') DEFAULT 'Low',
  `impact` text DEFAULT NULL,
  `rollback_plan` text DEFAULT NULL,
  `requester` varchar(128) NOT NULL,
  `requester_name` varchar(255) DEFAULT NULL,
  `assigned_to` varchar(128) DEFAULT NULL,
  `assigned_to_name` varchar(255) DEFAULT NULL,
  `planned_start_date` timestamp NULL DEFAULT NULL,
  `planned_end_date` timestamp NULL DEFAULT NULL,
  `actual_start_date` timestamp NULL DEFAULT NULL,
  `actual_end_date` timestamp NULL DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `affected_services` text DEFAULT NULL,
  `approval_status` enum('Not Required','Pending','Approved','Rejected') DEFAULT 'Not Required',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `change_number` (`change_number`),
  KEY `idx_change_number` (`change_number`),
  KEY `idx_type` (`type`),
  KEY `idx_state` (`state`),
  KEY `idx_risk` (`risk`),
  KEY `idx_requester` (`requester`),
  KEY `idx_planned_dates` (`planned_start_date`,`planned_end_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `changes`
--

LOCK TABLES `changes` WRITE;
/*!40000 ALTER TABLE `changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) NOT NULL,
  `user_id` varchar(128) DEFAULT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `user_role` varchar(50) DEFAULT NULL,
  `message` text NOT NULL,
  `is_internal` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `comments_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `contact_name` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `address1` text DEFAULT NULL,
  `address2` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `province` varchar(100) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `logo_url` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `email_integration_id` int(11) DEFAULT NULL,
  `primary_color` varchar(20) DEFAULT NULL,
  `secondary_color` varchar(20) DEFAULT NULL,
  `support_signature` text DEFAULT NULL,
  `industry` varchar(100) DEFAULT NULL,
  `priority_tier` varchar(50) DEFAULT NULL,
  `default_assignment_group` varchar(100) DEFAULT NULL,
  `default_sla_policy` varchar(100) DEFAULT NULL,
  `default_support_mailbox` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_name` (`name`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_email_configs`
--

DROP TABLE IF EXISTS `company_email_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_email_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) DEFAULT NULL,
  `email_address` varchar(255) DEFAULT NULL,
  `smtp_host` varchar(255) DEFAULT NULL,
  `smtp_port` int(11) DEFAULT NULL,
  `smtp_user` varchar(255) DEFAULT NULL,
  `smtp_pass` text DEFAULT NULL,
  `imap_host` varchar(255) DEFAULT NULL,
  `imap_port` int(11) DEFAULT NULL,
  `imap_user` varchar(255) DEFAULT NULL,
  `imap_pass` text DEFAULT NULL,
  `encryption` varchar(20) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `is_default` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_email` (`email_address`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_email_configs`
--

LOCK TABLES `company_email_configs` WRITE;
/*!40000 ALTER TABLE `company_email_configs` DISABLE KEYS */;
INSERT INTO `company_email_configs` VALUES (1,'technosprint','support@technosprint.net','smtp.office365.com',587,'support@technosprint.net','Poland@01','outlook.office365.com',993,'support@technosprint.net','Poland@01','TLS',1,1,'2026-06-13 12:00:00','2026-06-13 12:00:00');
/*!40000 ALTER TABLE `company_email_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_history`
--

DROP TABLE IF EXISTS `company_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) DEFAULT NULL,
  `action` varchar(100) DEFAULT NULL,
  `field_name` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `user` varchar(255) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company_id` (`company_id`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_history`
--

LOCK TABLES `company_history` WRITE;
/*!40000 ALTER TABLE `company_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_logs`
--

DROP TABLE IF EXISTS `email_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) DEFAULT NULL,
  `ticket_number` varchar(50) DEFAULT NULL,
  `direction` enum('inbound','outbound') DEFAULT 'outbound',
  `recipient` varchar(255) DEFAULT NULL,
  `sender` varchar(255) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body_preview` text DEFAULT NULL,
  `message_id` varchar(255) DEFAULT NULL,
  `in_reply_to` varchar(255) DEFAULT NULL,
  `references_header` text DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `provider_response` text DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `retry_count` int(11) DEFAULT 0,
  `max_retries` int(11) DEFAULT 5,
  `next_retry_at` timestamp NULL DEFAULT NULL,
  `email_type` varchar(50) DEFAULT 'notification',
  `config_id` int(11) DEFAULT NULL,
  `company_id` varchar(128) DEFAULT NULL,
  `email_integration_id` int(11) DEFAULT NULL,
  `mailbox_used` varchar(255) DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT NULL,
  `received_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_message_id` (`message_id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=315 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_logs`
--

LOCK TABLES `email_logs` WRITE;
/*!40000 ALTER TABLE `email_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_queue`
--

DROP TABLE IF EXISTS `email_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) DEFAULT NULL,
  `company_id` int(11) DEFAULT NULL,
  `email_integration_id` int(11) DEFAULT NULL,
  `direction` enum('outbound','inbound') DEFAULT 'outbound',
  `recipient` varchar(255) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body` mediumtext DEFAULT NULL,
  `status` enum('pending','processing','completed','failed') DEFAULT 'pending',
  `attempts` int(11) DEFAULT 0,
  `error_message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_status` (`status`),
  KEY `idx_ticket` (`ticket_id`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_queue`
--

LOCK TABLES `email_queue` WRITE;
/*!40000 ALTER TABLE `email_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_threads`
--

DROP TABLE IF EXISTS `email_threads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_threads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) NOT NULL,
  `ticket_number` varchar(50) NOT NULL,
  `thread_id` varchar(255) NOT NULL,
  `original_message_id` varchar(255) DEFAULT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `last_message_id` varchar(255) DEFAULT NULL,
  `message_count` int(11) DEFAULT 1,
  `participants` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `thread_id` (`thread_id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_ticket_number` (`ticket_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_threads`
--

LOCK TABLES `email_threads` WRITE;
/*!40000 ALTER TABLE `email_threads` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_threads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_categories`
--

DROP TABLE IF EXISTS `incident_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_updated_by` varchar(255) DEFAULT NULL,
  `last_updated_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_name` (`name`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_categories`
--

LOCK TABLES `incident_categories` WRITE;
/*!40000 ALTER TABLE `incident_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_category_options`
--

DROP TABLE IF EXISTS `incident_category_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_category_options` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) NOT NULL,
  `value_text` varchar(255) NOT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_updated_by` varchar(255) DEFAULT NULL,
  `last_updated_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_category_id` (`category_id`),
  CONSTRAINT `incident_category_options_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `incident_categories` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_category_options`
--

LOCK TABLES `incident_category_options` WRITE;
/*!40000 ALTER TABLE `incident_category_options` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_category_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_articles`
--

DROP TABLE IF EXISTS `knowledge_articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knowledge_articles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `article_number` varchar(50) NOT NULL,
  `title` varchar(500) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `subcategory` varchar(100) DEFAULT NULL,
  `content` text NOT NULL,
  `summary` text DEFAULT NULL,
  `tags` text DEFAULT NULL,
  `views` int(11) DEFAULT 0,
  `rating` decimal(2,1) DEFAULT 0.0,
  `rating_count` int(11) DEFAULT 0,
  `helpful_count` int(11) DEFAULT 0,
  `not_helpful_count` int(11) DEFAULT 0,
  `author` varchar(128) NOT NULL,
  `author_name` varchar(255) DEFAULT NULL,
  `reviewer` varchar(128) DEFAULT NULL,
  `reviewer_name` varchar(255) DEFAULT NULL,
  `status` enum('Draft','Published','Archived') DEFAULT 'Draft',
  `visibility` enum('Internal','Public') DEFAULT 'Internal',
  `version` int(11) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `published_at` timestamp NULL DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT NULL,
  `votes` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `article_number` (`article_number`),
  KEY `idx_article_number` (`article_number`),
  KEY `idx_category` (`category`),
  KEY `idx_status` (`status`),
  KEY `idx_author` (`author`),
  KEY `idx_views` (`views`),
  FULLTEXT KEY `idx_title_content` (`title`,`content`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_articles`
--

LOCK TABLES `knowledge_articles` WRITE;
/*!40000 ALTER TABLE `knowledge_articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge_articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meeting_audit_logs`
--

DROP TABLE IF EXISTS `meeting_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meeting_audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` varchar(100) NOT NULL,
  `action` varchar(100) NOT NULL,
  `performed_by` varchar(128) NOT NULL,
  `performed_by_name` varchar(255) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_meeting_id` (`meeting_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meeting_audit_logs`
--

LOCK TABLES `meeting_audit_logs` WRITE;
/*!40000 ALTER TABLE `meeting_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `meeting_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meeting_versions`
--

DROP TABLE IF EXISTS `meeting_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meeting_versions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_db_id` int(11) NOT NULL,
  `meeting_id` varchar(100) NOT NULL,
  `version` int(11) NOT NULL,
  `title` varchar(500) DEFAULT NULL,
  `meeting_date` datetime DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `file_path` text DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `template_data` text DEFAULT NULL,
  `updated_by` varchar(128) DEFAULT NULL,
  `updated_by_name` varchar(255) DEFAULT NULL,
  `change_summary` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_meeting_db_id` (`meeting_db_id`),
  CONSTRAINT `meeting_versions_ibfk_1` FOREIGN KEY (`meeting_db_id`) REFERENCES `meetings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meeting_versions`
--

LOCK TABLES `meeting_versions` WRITE;
/*!40000 ALTER TABLE `meeting_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `meeting_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meetings`
--

DROP TABLE IF EXISTS `meetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meetings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` varchar(100) NOT NULL,
  `creation_method` varchar(50) NOT NULL,
  `title` varchar(500) NOT NULL,
  `meeting_date` datetime NOT NULL,
  `platform` varchar(100) DEFAULT NULL,
  `conducted_by` varchar(255) DEFAULT NULL,
  `attendees` text DEFAULT NULL,
  `absentees` text DEFAULT NULL,
  `one_line_summary` text DEFAULT NULL,
  `short_description` text DEFAULT NULL,
  `detailed_description` text DEFAULT NULL,
  `discussion_points` text DEFAULT NULL,
  `decisions_taken` text DEFAULT NULL,
  `action_items` text DEFAULT NULL,
  `responsible_person` varchar(255) DEFAULT NULL,
  `target_date` varchar(50) DEFAULT NULL,
  `next_steps` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `file_path` text DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_size` int(11) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Draft',
  `version` int(11) DEFAULT 1,
  `created_by` varchar(128) DEFAULT NULL,
  `created_by_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `virtual_data_json` text DEFAULT NULL,
  `attendance_data_json` text DEFAULT NULL,
  `notifications_json` text DEFAULT NULL,
  `recording_json` text DEFAULT NULL,
  `timeline_json` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `meeting_id` (`meeting_id`),
  KEY `idx_meeting_id` (`meeting_id`),
  KEY `idx_status` (`status`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meetings`
--

LOCK TABLES `meetings` WRITE;
/*!40000 ALTER TABLE `meetings` DISABLE KEYS */;
/*!40000 ALTER TABLE `meetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message_history`
--

DROP TABLE IF EXISTS `message_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `message_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) DEFAULT NULL,
  `direction` varchar(20) DEFAULT NULL,
  `channel` varchar(50) DEFAULT NULL,
  `sender` varchar(255) DEFAULT NULL,
  `recipient` varchar(255) DEFAULT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `body` mediumtext DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_direction` (`direction`),
  KEY `idx_channel` (`channel`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message_history`
--

LOCK TABLES `message_history` WRITE;
/*!40000 ALTER TABLE `message_history` DISABLE KEYS */;
INSERT INTO `message_history` VALUES (1,NULL,NULL,NULL,NULL,'Arun (Ultra Admin)',NULL,NULL,NULL,NULL,'2026-06-06 13:32:52'),(2,NULL,NULL,NULL,NULL,'Arun (Ultra Admin)',NULL,NULL,NULL,NULL,'2026-06-06 13:32:52'),(3,NULL,NULL,NULL,NULL,'Arun (Ultra Admin)',NULL,NULL,NULL,NULL,'2026-06-06 13:32:52'),(4,NULL,NULL,NULL,NULL,'Arun (Ultra Admin)',NULL,NULL,NULL,NULL,'2026-06-06 13:32:52'),(5,NULL,NULL,NULL,NULL,'Arun (Ultra Admin)',NULL,NULL,NULL,NULL,'2026-06-06 13:32:52');
/*!40000 ALTER TABLE `message_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_categories`
--

DROP TABLE IF EXISTS `mst_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_categories`
--

LOCK TABLES `mst_categories` WRITE;
/*!40000 ALTER TABLE `mst_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_departments`
--

DROP TABLE IF EXISTS `mst_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_departments`
--

LOCK TABLES `mst_departments` WRITE;
/*!40000 ALTER TABLE `mst_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_groups`
--

DROP TABLE IF EXISTS `mst_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_groups`
--

LOCK TABLES `mst_groups` WRITE;
/*!40000 ALTER TABLE `mst_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_members`
--

DROP TABLE IF EXISTS `mst_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(128) NOT NULL,
  `group_id` int(11) NOT NULL,
  `role` varchar(100) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`,`group_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_members`
--

LOCK TABLES `mst_members` WRITE;
/*!40000 ALTER TABLE `mst_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_priorities`
--

DROP TABLE IF EXISTS `mst_priorities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_priorities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_priorities`
--

LOCK TABLES `mst_priorities` WRITE;
/*!40000 ALTER TABLE `mst_priorities` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_priorities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_projects`
--

DROP TABLE IF EXISTS `mst_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_projects`
--

LOCK TABLES `mst_projects` WRITE;
/*!40000 ALTER TABLE `mst_projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_providences`
--

DROP TABLE IF EXISTS `mst_providences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_providences` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `subcategory_id` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`,`subcategory_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_providences`
--

LOCK TABLES `mst_providences` WRITE;
/*!40000 ALTER TABLE `mst_providences` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_providences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_roles`
--

DROP TABLE IF EXISTS `mst_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_roles`
--

LOCK TABLES `mst_roles` WRITE;
/*!40000 ALTER TABLE `mst_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_sources`
--

DROP TABLE IF EXISTS `mst_sources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_sources` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_sources`
--

LOCK TABLES `mst_sources` WRITE;
/*!40000 ALTER TABLE `mst_sources` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_sources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_statuses`
--

DROP TABLE IF EXISTS `mst_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_statuses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_statuses`
--

LOCK TABLES `mst_statuses` WRITE;
/*!40000 ALTER TABLE `mst_statuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_subcategories`
--

DROP TABLE IF EXISTS `mst_subcategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_subcategories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `category_id` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`,`category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_subcategories`
--

LOCK TABLES `mst_subcategories` WRITE;
/*!40000 ALTER TABLE `mst_subcategories` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_subcategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_tags`
--

DROP TABLE IF EXISTS `mst_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_tags` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_tags`
--

LOCK TABLES `mst_tags` WRITE;
/*!40000 ALTER TABLE `mst_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_ticket_types`
--

DROP TABLE IF EXISTS `mst_ticket_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mst_ticket_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_ticket_types`
--

LOCK TABLES `mst_ticket_types` WRITE;
/*!40000 ALTER TABLE `mst_ticket_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_ticket_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(128) NOT NULL,
  `type` varchar(50) DEFAULT 'system',
  `title` varchar(255) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `ticket_id` varchar(128) DEFAULT NULL,
  `ticket_number` varchar(50) DEFAULT NULL,
  `actor_id` varchar(128) DEFAULT NULL,
  `actor_name` varchar(255) DEFAULT NULL,
  `related_ticket_id` int(11) DEFAULT NULL,
  `related_entity_type` varchar(50) DEFAULT NULL,
  `related_entity_id` varchar(50) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_user_read` (`user_id`,`is_read`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_type` (`type`),
  KEY `idx_notifications_user_unread` (`user_id`,`is_read`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'demo_t342dq','system',NULL,'Arun (Ultra Admin) created a ticket and assigned it to Unassigned','1','INC3775301','demo_t342dq','Arun (Ultra Admin)',NULL,NULL,NULL,0,NULL,'2026-06-06 01:43:24'),(2,'demo_t342dq','system',NULL,'Arun (Ultra Admin) created a ticket and assigned it to Unassigned','1','INC3775301','demo_t342dq','Arun (Ultra Admin)',NULL,NULL,NULL,0,NULL,'2026-06-06 01:43:24');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_queue`
--

DROP TABLE IF EXISTS `notifications_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_type` varchar(50) NOT NULL,
  `ticket_id` int(11) DEFAULT NULL,
  `ticket_number` varchar(50) DEFAULT NULL,
  `recipient` varchar(255) NOT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body_html` mediumtext DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `priority` int(11) DEFAULT 5,
  `retry_count` int(11) DEFAULT 0,
  `max_retries` int(11) DEFAULT 5,
  `next_retry_at` timestamp NULL DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `config_id` int(11) DEFAULT NULL,
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_status` (`status`),
  KEY `idx_next_retry` (`next_retry_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_queue`
--

LOCK TABLES `notifications_queue` WRITE;
/*!40000 ALTER TABLE `notifications_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `problems`
--

DROP TABLE IF EXISTS `problems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `problems` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `problem_number` varchar(50) NOT NULL,
  `title` varchar(500) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('Open','Under Investigation','Resolved','Closed') DEFAULT 'Open',
  `priority` enum('1 - Critical','2 - High','3 - Moderate','4 - Low') DEFAULT '4 - Low',
  `category` varchar(100) DEFAULT NULL,
  `root_cause` text DEFAULT NULL,
  `workaround` text DEFAULT NULL,
  `resolution` text DEFAULT NULL,
  `assigned_to` varchar(128) DEFAULT NULL,
  `assigned_to_name` varchar(255) DEFAULT NULL,
  `reported_by` varchar(128) DEFAULT NULL,
  `reported_by_name` varchar(255) DEFAULT NULL,
  `related_incidents` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `resolved_at` timestamp NULL DEFAULT NULL,
  `closed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `problem_number` (`problem_number`),
  KEY `idx_problem_number` (`problem_number`),
  KEY `idx_status` (`status`),
  KEY `idx_priority` (`priority`),
  KEY `idx_assigned_to` (`assigned_to`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `problems`
--

LOCK TABLES `problems` WRITE;
/*!40000 ALTER TABLE `problems` DISABLE KEYS */;
/*!40000 ALTER TABLE `problems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_groups`
--

DROP TABLE IF EXISTS `settings_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_groups` (
  `id` varchar(128) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `manager_uid` varchar(128) DEFAULT NULL,
  `manager_name` varchar(255) DEFAULT NULL,
  `assignment_email` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_name` (`name`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_groups`
--

LOCK TABLES `settings_groups` WRITE;
/*!40000 ALTER TABLE `settings_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sla_audit_logs`
--

DROP TABLE IF EXISTS `sla_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sla_audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) NOT NULL,
  `sla_type` varchar(50) NOT NULL,
  `event_type` varchar(50) NOT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sla_audit_logs`
--

LOCK TABLES `sla_audit_logs` WRITE;
/*!40000 ALTER TABLE `sla_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `sla_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sla_breaches`
--

DROP TABLE IF EXISTS `sla_breaches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sla_breaches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `record_id` varchar(128) NOT NULL,
  `record_type` varchar(50) NOT NULL DEFAULT 'Ticket',
  `assigned_user` varchar(128) NOT NULL,
  `assigned_user_name` varchar(255) DEFAULT NULL,
  `sla_name` varchar(100) NOT NULL,
  `sla_target` varchar(50) DEFAULT NULL,
  `actual_time_taken` varchar(50) DEFAULT NULL,
  `breach_duration` varchar(50) DEFAULT NULL,
  `breach_timeslot` varchar(50) DEFAULT NULL,
  `breach_timestamp` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_record_sla` (`record_id`,`sla_name`),
  KEY `idx_record_id` (`record_id`),
  KEY `idx_assigned_user` (`assigned_user`),
  KEY `idx_status` (`status`),
  KEY `idx_sla_name` (`sla_name`),
  KEY `idx_breaches_user_status` (`assigned_user`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sla_breaches`
--

LOCK TABLES `sla_breaches` WRITE;
/*!40000 ALTER TABLE `sla_breaches` DISABLE KEYS */;
/*!40000 ALTER TABLE `sla_breaches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sla_configurations`
--

DROP TABLE IF EXISTS `sla_configurations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sla_configurations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `priority` varchar(50) NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `response_time_hours` int(11) DEFAULT NULL,
  `resolution_time_hours` int(11) DEFAULT NULL,
  `business_hours_only` tinyint(1) DEFAULT 0,
  `exclude_weekends` tinyint(1) DEFAULT 0,
  `exclude_holidays` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sla_configurations`
--

LOCK TABLES `sla_configurations` WRITE;
/*!40000 ALTER TABLE `sla_configurations` DISABLE KEYS */;
/*!40000 ALTER TABLE `sla_configurations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sla_policies`
--

DROP TABLE IF EXISTS `sla_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sla_policies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `priority` varchar(50) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `response_time_hours` int(11) NOT NULL DEFAULT 8,
  `resolution_time_hours` int(11) NOT NULL DEFAULT 24,
  `business_hours_only` tinyint(1) DEFAULT 0,
  `exclude_weekends` tinyint(1) DEFAULT 0,
  `exclude_holidays` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_priority_category` (`priority`,`category`),
  KEY `idx_priority` (`priority`),
  KEY `idx_category` (`category`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sla_policies`
--

LOCK TABLES `sla_policies` WRITE;
/*!40000 ALTER TABLE `sla_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `sla_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` enum('string','number','boolean','json') DEFAULT 'string',
  `description` text DEFAULT NULL,
  `updated_by` varchar(128) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_activities`
--

DROP TABLE IF EXISTS `ticket_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_activities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) NOT NULL,
  `activity_type` varchar(50) NOT NULL,
  `visibility_type` varchar(50) NOT NULL,
  `created_by` varchar(128) DEFAULT NULL,
  `created_by_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `message` text NOT NULL,
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_visibility` (`visibility_type`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_activities`
--

LOCK TABLES `ticket_activities` WRITE;
/*!40000 ALTER TABLE `ticket_activities` DISABLE KEYS */;
INSERT INTO `ticket_activities` VALUES (1,'1','system','public','Arun (Ultra Admin)','Arun (Ultra Admin)','2026-06-06 01:43:24','Ticket created',NULL);
/*!40000 ALTER TABLE `ticket_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_custom_fields`
--

DROP TABLE IF EXISTS `ticket_custom_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_custom_fields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) NOT NULL,
  `category_id` int(11) NOT NULL,
  `category_name` varchar(100) NOT NULL,
  `value_text` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_category_id` (`category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_custom_fields`
--

LOCK TABLES `ticket_custom_fields` WRITE;
/*!40000 ALTER TABLE `ticket_custom_fields` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_custom_fields` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_email_activities`
--

DROP TABLE IF EXISTS `ticket_email_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_email_activities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) NOT NULL,
  `direction` enum('inbound','outbound') DEFAULT NULL,
  `sender` varchar(255) DEFAULT NULL,
  `recipient` varchar(255) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `body` mediumtext DEFAULT NULL,
  `status` enum('success','failed','pending') DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_email_activities`
--

LOCK TABLES `ticket_email_activities` WRITE;
/*!40000 ALTER TABLE `ticket_email_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_email_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_history`
--

DROP TABLE IF EXISTS `ticket_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ticket_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `user` varchar(255) DEFAULT NULL,
  `user_id` varchar(128) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `details` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_timestamp` (`timestamp`),
  CONSTRAINT `ticket_history_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_history`
--

LOCK TABLES `ticket_history` WRITE;
/*!40000 ALTER TABLE `ticket_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tickets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_number` varchar(50) NOT NULL,
  `caller` varchar(255) NOT NULL,
  `caller_user_id` varchar(128) DEFAULT NULL,
  `affected_user` varchar(255) DEFAULT NULL,
  `affected_user_id` varchar(128) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `incident_category` varchar(100) DEFAULT NULL,
  `subcategory` varchar(100) DEFAULT NULL,
  `service` varchar(100) DEFAULT NULL,
  `service_offering` varchar(100) DEFAULT NULL,
  `cmdb_item` varchar(100) DEFAULT NULL,
  `title` varchar(500) NOT NULL,
  `description` text DEFAULT NULL,
  `channel` enum('Phone','Email','Self-service','Walk-in','Other') DEFAULT 'Self-service',
  `status` enum('New','In Progress','On Hold','Resolved','Closed','Canceled','Pending Approval') DEFAULT 'New',
  `impact` enum('1 - High','2 - Medium','3 - Low') DEFAULT '3 - Low',
  `urgency` enum('1 - High','2 - Medium','3 - Low') DEFAULT '3 - Low',
  `priority` enum('1 - Critical','2 - High','3 - Moderate','4 - Low') DEFAULT '4 - Low',
  `assignment_group` varchar(100) DEFAULT NULL,
  `assigned_to` varchar(128) DEFAULT NULL,
  `assigned_to_name` varchar(255) DEFAULT NULL,
  `created_by` varchar(128) NOT NULL,
  `created_by_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `first_response_at` timestamp NULL DEFAULT NULL,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `resolved_by` varchar(128) DEFAULT NULL,
  `resolved_by_name` varchar(255) DEFAULT NULL,
  `closed_at` timestamp NULL DEFAULT NULL,
  `closed_by` varchar(128) DEFAULT NULL,
  `closed_by_name` varchar(255) DEFAULT NULL,
  `response_deadline` timestamp NULL DEFAULT NULL,
  `resolution_deadline` timestamp NULL DEFAULT NULL,
  `on_hold_start` timestamp NULL DEFAULT NULL,
  `on_hold_reason` varchar(255) DEFAULT NULL,
  `total_paused_time` bigint(20) DEFAULT 0,
  `total_paused_time_ms` bigint(20) DEFAULT 0,
  `response_sla_status` enum('In Progress','Pending','Completed','Breached','At Risk') DEFAULT 'In Progress',
  `resolution_sla_status` enum('In Progress','Pending','Completed','Breached','At Risk') DEFAULT 'In Progress',
  `response_sla_start_time` timestamp NULL DEFAULT NULL,
  `resolution_sla_start_time` timestamp NULL DEFAULT NULL,
  `points` int(11) DEFAULT 0,
  `approval_status` enum('Not Required','Pending','Approved','Rejected') DEFAULT 'Not Required',
  `parent_ticket_id` int(11) DEFAULT NULL,
  `sla_delay_meta_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`sla_delay_meta_json`)),
  `sla_delay_logs_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`sla_delay_logs_json`)),
  `affected_user_email` varchar(255) DEFAULT NULL,
  `reporting_user_email` varchar(255) DEFAULT NULL,
  `caller_email` varchar(255) DEFAULT NULL,
  `resolution_code` varchar(255) DEFAULT NULL,
  `resolution_notes` text DEFAULT NULL,
  `resolution_method` varchar(255) DEFAULT NULL,
  `closure_reason` varchar(255) DEFAULT NULL,
  `company_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_number` (`ticket_number`),
  KEY `parent_ticket_id` (`parent_ticket_id`),
  KEY `idx_ticket_number` (`ticket_number`),
  KEY `idx_status` (`status`),
  KEY `idx_priority` (`priority`),
  KEY `idx_assigned_to` (`assigned_to`),
  KEY `idx_created_by` (`created_by`),
  KEY `idx_caller` (`caller`),
  KEY `idx_category` (`category`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_resolved_at` (`resolved_at`),
  KEY `idx_status_priority` (`status`,`priority`),
  KEY `idx_assigned_status` (`assigned_to`,`status`),
  KEY `idx_tickets_status_created` (`status`,`created_at`),
  KEY `idx_tickets_assignee_status` (`assigned_to`,`status`,`created_at`),
  KEY `idx_tickets_priority_status` (`priority`,`status`),
  FULLTEXT KEY `idx_title_description` (`title`,`description`),
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`parent_ticket_id`) REFERENCES `tickets` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
INSERT INTO `tickets` VALUES (1,'INC3775301','Arun (Ultra Admin)',NULL,NULL,NULL,'Inquiry / Help',NULL,'Azure Support','Azure AD Sync','tgyhuj',NULL,'ghuji','tgyhujik','Self-service','New','2 - Medium','2 - Medium','4 - Low',NULL,NULL,NULL,'demo_t342dq','Arun (Ultra Admin)','2026-06-06 01:43:23','2026-06-06 01:43:23',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,0,'In Progress','In Progress',NULL,NULL,0,'Not Required',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time_cards`
--

DROP TABLE IF EXISTS `time_cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `time_cards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `timesheet_id` int(11) NOT NULL,
  `user_id` varchar(128) NOT NULL,
  `entry_date` date NOT NULL,
  `task` varchar(255) DEFAULT NULL,
  `hours_worked` decimal(10,6) DEFAULT 0.000000,
  `description` text DEFAULT NULL,
  `short_description` varchar(255) DEFAULT NULL,
  `start_time` varchar(20) DEFAULT NULL,
  `end_time` varchar(20) DEFAULT NULL,
  `deduct` decimal(10,2) DEFAULT 0.00,
  `work_type` varchar(50) DEFAULT NULL,
  `billable` varchar(50) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('Draft','Submitted','Approved','Rejected') DEFAULT 'Draft',
  `elapsed_seconds` int(11) DEFAULT 0,
  `ticket_id` varchar(128) DEFAULT NULL,
  `ticket_number` varchar(50) DEFAULT NULL,
  `is_system_generated` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_timesheet_id` (`timesheet_id`),
  KEY `idx_user_date` (`user_id`,`entry_date`),
  CONSTRAINT `time_cards_ibfk_1` FOREIGN KEY (`timesheet_id`) REFERENCES `timesheets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time_cards`
--

LOCK TABLES `time_cards` WRITE;
/*!40000 ALTER TABLE `time_cards` DISABLE KEYS */;
INSERT INTO `time_cards` VALUES (1,2,'demo_t342dq','2026-06-06','General Support',0.000017,'Working in Web Browser on the Activity Tracker page.','[AI Tracked] Web Browser ΓÇö Activity Tracker',NULL,NULL,0.00,'Remote','Billable',NULL,'Draft',0,NULL,NULL,0,'2026-06-06 01:15:55','2026-06-06 01:15:55'),(2,2,'demo_t342dq','2026-06-06','General Support',39.000000,'fgh','[INC3775301] ah','12:06','12:45',0.00,'Support','Billable',NULL,'Draft',0,NULL,NULL,0,'2026-06-06 01:45:57','2026-06-06 01:45:57');
/*!40000 ALTER TABLE `time_cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timesheets`
--

DROP TABLE IF EXISTS `timesheets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `timesheets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(128) NOT NULL,
  `week_start` date NOT NULL,
  `week_end` date NOT NULL,
  `status` enum('Draft','Submitted','Approved','Rejected') DEFAULT 'Draft',
  `total_hours` decimal(10,4) DEFAULT 0.0000,
  `screenshot_url` text DEFAULT NULL,
  `approved_by` varchar(128) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `submitted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_week` (`user_id`,`week_start`),
  KEY `idx_status` (`status`),
  KEY `idx_timesheets_user_status` (`user_id`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timesheets`
--

LOCK TABLES `timesheets` WRITE;
/*!40000 ALTER TABLE `timesheets` DISABLE KEYS */;
INSERT INTO `timesheets` VALUES (1,'user_1779015096735_1lbptc','2026-05-31','2026-06-06','Draft',0.0000,NULL,NULL,NULL,NULL,'2026-06-05 12:04:07','2026-06-05 12:04:07',NULL),(2,'demo_t342dq','2026-06-01','2026-06-07','Draft',39.0000,NULL,NULL,NULL,NULL,'2026-06-06 01:15:55','2026-06-06 01:15:55',NULL),(3,'demo_t342dq','2026-05-31','2026-06-06','Draft',0.0000,NULL,NULL,NULL,NULL,'2026-06-06 01:47:41','2026-06-06 01:47:41',NULL),(4,'demo_t342dq','2026-05-31','2026-06-06','Draft',0.0000,NULL,NULL,NULL,NULL,'2026-06-06 01:47:41','2026-06-06 01:47:41',NULL);
/*!40000 ALTER TABLE `timesheets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ts_meeting_attendance`
--

DROP TABLE IF EXISTS `ts_meeting_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ts_meeting_attendance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tsm_id` varchar(50) NOT NULL,
  `peer_id` varchar(128) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `join_time` varchar(50) DEFAULT NULL,
  `leave_time` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ts_meeting_attendance`
--

LOCK TABLES `ts_meeting_attendance` WRITE;
/*!40000 ALTER TABLE `ts_meeting_attendance` DISABLE KEYS */;
INSERT INTO `ts_meeting_attendance` VALUES (1,'TSM-245402','demo_t342dq','Arun (Ultra Admin)','11:21 PM','11:21 PM','2026-06-06 17:51:02'),(2,'TSM-245402','demo_t342dq','Arun (Ultra Admin)','11:21 PM',NULL,'2026-06-06 17:51:02'),(3,'TSM-245402','demo_t342dq','Technician Bob','11:22 PM','11:22 PM','2026-06-06 17:52:37'),(4,'TSM-245402','demo_t342dq','Technician Bob','11:22 PM',NULL,'2026-06-06 17:52:37'),(5,'TSM-245402','demo_t342dq','Arun (Ultra Admin)','11:23 PM','11:23 PM','2026-06-06 17:53:21'),(6,'TSM-245402','demo_t342dq','Arun (Ultra Admin)','11:23 PM',NULL,'2026-06-06 17:53:21');
/*!40000 ALTER TABLE `ts_meeting_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ts_meeting_chat`
--

DROP TABLE IF EXISTS `ts_meeting_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ts_meeting_chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tsm_id` varchar(50) NOT NULL,
  `sender_id` varchar(128) DEFAULT NULL,
  `sender_name` varchar(255) DEFAULT NULL,
  `text` text DEFAULT NULL,
  `timestamp` varchar(100) DEFAULT NULL,
  `type` varchar(20) DEFAULT 'text',
  `file_url` text DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ts_meeting_chat`
--

LOCK TABLES `ts_meeting_chat` WRITE;
/*!40000 ALTER TABLE `ts_meeting_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `ts_meeting_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ts_meetings`
--

DROP TABLE IF EXISTS `ts_meetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ts_meetings` (
  `tsm_id` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `meeting_date` varchar(50) DEFAULT NULL,
  `meeting_time` varchar(50) DEFAULT NULL,
  `duration` varchar(50) DEFAULT NULL,
  `organizer` varchar(255) DEFAULT NULL,
  `participants` text DEFAULT NULL,
  `meeting_type` varchar(50) DEFAULT NULL,
  `priority` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Draft',
  `room_id` varchar(50) DEFAULT NULL,
  `password` varchar(50) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `attachments` text DEFAULT NULL,
  `comments` text DEFAULT NULL,
  `timeline` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`tsm_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ts_meetings`
--

LOCK TABLES `ts_meetings` WRITE;
/*!40000 ALTER TABLE `ts_meetings` DISABLE KEYS */;
INSERT INTO `ts_meetings` VALUES ('TSM-245402','Instant Meeting by Arun (Ultra Admin)','Quick ad-hoc internal conference call','2026-06-06','23:20','1 hour','Arun (Ultra Admin)','[]','Internal','Medium','In Progress','ROOM-245402-TSME',NULL,NULL,'[]','[]','[{\"key\":\"O4J6JT8F\",\"label\":\"Instant Meeting Created\",\"timestamp\":\"2026-06-06T17:50:46.038Z\",\"performedBy\":\"Arun (Ultra Admin)\"}]','2026-06-06 17:50:46','2026-06-06 17:50:46');
/*!40000 ALTER TABLE `ts_meetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(128) NOT NULL,
  `session_token` varchar(255) NOT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_activity` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_token` (`session_token`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_session_token` (`session_token`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions`
--

LOCK TABLES `user_sessions` WRITE;
/*!40000 ALTER TABLE `user_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` varchar(128) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `role` enum('user','agent','sub_admin','admin','super_admin','ultra_super_admin') DEFAULT 'user',
  `phone` varchar(50) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `is_demo` tinyint(1) DEFAULT 0,
  `email_verified` tinyint(1) DEFAULT 0,
  `photo_url` text DEFAULT NULL,
  `provider` varchar(50) DEFAULT 'email',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uid` (`uid`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_uid` (`uid`),
  KEY `idx_role` (`role`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'demo_t342dq','arun@technosprint.net',NULL,'Arun (Ultra Admin)','ultra_super_admin',NULL,NULL,1,0,0,NULL,'email','2026-06-05 12:23:02','2026-06-06 13:32:30','2026-06-06 00:34:30');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_notes`
--

DROP TABLE IF EXISTS `work_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `work_notes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) NOT NULL,
  `user_id` varchar(128) DEFAULT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `note` text NOT NULL,
  `is_internal` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_notes`
--

LOCK TABLES `work_notes` WRITE;
/*!40000 ALTER TABLE `work_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_sessions`
--

DROP TABLE IF EXISTS `work_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `work_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(128) DEFAULT NULL,
  `user_id` varchar(128) NOT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `session_type` varchar(50) DEFAULT 'work',
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `duration` int(11) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ticket_id` (`ticket_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_sessions`
--

LOCK TABLES `work_sessions` WRITE;
/*!40000 ALTER TABLE `work_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_sessions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-10 15:48:07
